# Compiled class file
*.class

# Log file
*.log

# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws

# Eclipse files
.project
.classpath
.settings/
.apt_generated/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib

# Maven build directory
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Gradle build directory
.gradle/
build/

# Package Files #
*.jar
*.war
*.ear

# Virtual Machine Files #
*.hprof
*.gc*

# Idea specific files
*.iws
*.iml
.idea/
